{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{ background }}')">{{ title }}</section>
<h2>{{ title }} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
    {{#list}}
        
        <a href="/pet/{{name}}" class="item">
            
            <img src="/images/{{ image }}" class="item--image" />
            <div class="item--name">{{ name }}</div>
            
            
            <div class="item--color">Cor: {{ color }}</div>
            <div class="item--genre">Gênero: {{ sex }}</div>
            <div class="item--age">Idade: {{ age }} anos</div>
            
            
            <div class="item--status">
                Status: 
                {{#status}}
                    {{#available}}Disponível{{/available}}
                    {{#pending}}Em Processo{{/pending}}
                    {{#adopted}}Adotado{{/adopted}}
                {{/status}}
            </div>
            <div class="item--vaccinated">
                Vacinado: {{#vaccinated}}Sim{{/vaccinated}}{{^vaccinated}}Não{{/vaccinated}}
            </div>

            
            <div class="item--description">
                {{ description }}
            </div>
        </a>
    {{/list}}
</div> 

{{^list}}
    <div class="container no-list">
        <h2>Não há animais disponíveis nessas condições</h2>
    </div>
{{/list}}

{{>partials/footer}}