{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{ background }}')">{{ title }}</section>
{{/banner}}

{{#pet}}

<div class="pet-detail">
    <div class="pet-detail--image-area">
        <img src="/images/{{ image }}" class="pet-detail--image" />
    </div>
    
    <div class="pet-detail--info">
        <h2 class="pet-detail--title">{{name}}</h2>
        
        <div class="pet-detail--data">
            <div class="pet-detail--data-item">
                <div class="pet-detail--data-label">Tipo:</div>
                <div>{{ type }}</div>
            </div>
            
            <div class="pet-detail--data-item">
                <div class="pet-detail--data-label">Cor:</div>
                <div>{{ color }}</div>
            </div>
            
            <div class="pet-detail--data-item">
                <div class="pet-detail--data-label">Sexo:</div>
                <div>{{ sex }}</div>
            </div>
            
            <div class="pet-detail--data-item">
                <div class="pet-detail--data-label">Idade:</div>
                <div>{{ age }} anos</div>
            </div>
            
            <div class="pet-detail--data-item">
                <div class="pet-detail--data-label">Peso:</div>
                <div>{{ weight }} kg</div>
            </div>
            
            <div class="pet-detail--data-item">
                <div class="pet-detail--data-label">Vacinado:</div>
                <div>{{#vaccinated}}Sim{{/vaccinated}}{{^vaccinated}}Não{{/vaccinated}}</div>
            </div>
        </div>

        <div class="pet-detail--description">
            {{description}}
        </div>

        <div class="pet-detail--data-item">
            <div class="pet-detail--data-label">Status:</div>
            <div class="pet-detail--status status-{{status}}">
                {{#status}}
                    {{#available}}Disponível para Adoção{{/available}}
                    {{#pending}}Em Processo de Adoção{{/pending}}
                    {{#adopted}}Já Adotado{{/adopted}}
                {{/status}}
            </div>
        </div>
    </div>
</div>

{{/pet}}

{{>partials/footer}}